# Grafana Datasource Provisioning
# Automatically configured by Anna Assistant

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: false
    jsonData:
      httpMethod: POST
      timeInterval: 15s
      queryTimeout: 60s
      # Enable Prometheus exemplars
      exemplarTraceIdDestinations: []
    version: 1
